<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>My Roadster Live List</title>
    <!-- MDB icon -->
    <link rel="icon" href="" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="/public/css/mdb.min.css" />
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            height: 100%;
            /* overflow-x: hidden; */
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-direction: column;

        }

        .hola {
            background: #B7DEED;
            background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


        }

        #myFoot {
            margin-top: auto;
        }

        .buslistUpdet {}

        #updateList {
            width: 650px;
        }

        .sectionHeading {
            text-align: center;

        }

        #myBtn {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Fixed/sticky position */
            bottom: 15px;
            /* Place the button at the bottom of the page */
            right: 12px;
            /* Place the button 30px from the right */
            z-index: 99;
            /* Make sure it does not overlap */
            border: none;
            /* Remove borders */
            outline: none;
            /* Remove outline */
            background-color: #ffffff;
            /* Set a background color */
            color: rgb(19, 18, 18);
            /* Text color */
            cursor: pointer;
            /* Add a mouse pointer on hover */
            padding: 15px;
            /* Some padding */
            border-radius: 100%;
            /* Rounded corners */
            font-size: 18px;
            /* Increase font size */
        }

        #myBtn:hover {
            background-color: #555;
            /* Add a dark-grey background on hover */
        }
    </style>
</head>

<body>
    <!-- top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-primary"><img
            src="/public/img/icons8-up-arrow-30.png" alt=""></button>
    <!-- Start your project here-->
    <div id="navBar" >
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="#">
                        
                        <div class="container-fluid">
                            <span class="navbar-brand mb-0 h1 hola">My Roadster</span>
                        </div>
                    </a>
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Dashboard</a>
                        </li>
                        

                    </ul>
                    <!-- Left links -->
                </div>
                

                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    



                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        
                        
                      </ul>

                    
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </div>  
    
    

    <!-- live bus slotes -->
    <div class="container text-start p-4 px-2 my-4">
        <p class="h3 mb-4">Live Bus List</p>
        <div class="liveBus" >




          <div class="row" id="populatingLiveBusList">

            

          </div>
        </div>
      </div>
    </div>
   



    <!-- </div> -->

    <!--footer -->
    <div class="foot stick-bottom" id="myFoot">
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-6 item text">
                            <h3 class="hola">My Roadster</h3>
                            <p>My Roadster is a web for the traveler who wants to plan his trip with a great user experience and can make the day productive with a live bus list which is an exact reflection of the live senior of the bus station. Travelers can plane their next few hours by using the web from anywhere.</p>
                        </div>
                        <div class="col item social"><a href=""><i class="icon ion-social-facebook"></i></a><a
                                href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
                                    class="icon ion-social-snapchat"></i></a><a href="#"><i
                                    class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">My Roadster © 2022</p>
                </div>
            </footer>
        </div>


    </div>

    <!-- End your project here-->

    <!-- MDB -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="/public/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>`

    <!-- Js for upi use -->
    <script src="/public/js/liveBusList.js"></script>
</body>
</body>

</html>